/* exercice 6 */
.title {
    color: blue;
    font-size: 130px;
}
.highlight {
    color: green;
}
.box {
    height: 100px;
    width: 100px;
    border-color: black solid 5px;
    background-color: red;
    opacity: 0.5;

}
a {
    background-color: black;
    color: white;    
}